footer#footer{
    background: grey;
    width: 100%;
    height: 200%;
    padding: 4rem 0;
    
    position: relative;
}

.footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    row-gap: 2rem;
    column-gap: 2rem;
}
.footer-links {
    position: relative;
    right: 1230px;
    display: flex;
    flex-direction: column;
    padding-top: 2%;
    color: white; 
    bottom: 20px;  
} 

.container footer p{
    position: relative;
    right: 100px;
}

a{
    font-size: 2rem;
    padding-top: 1%;
    color: white;
}

.logos_one{
    position: relative;
    left: 1500px;
}




 .logo-text-one {
        color: white;
        position: relative;
        right: 120px;
        font-size: 4rem;
        bottom: 50px;
        
         
}



.footer-last{
    position: relative;
    right: 1100px;
}

.two{
    font-size: 1.5rem;
    color: white;
    position: relative;
    right: 150px;
    bottom: 40px;
}

.four{
    font-size: 1.5rem;
    position: relative;
    left: 195px;
    top: 20px;
    color: white;
}

.logo_two{
    position: relative;
    right: 180px;
    top: 20px;
}

.hori{
    width: 80%;
    left: 190px;
    position: relative;
}

