.title{
    text-align: center;
    
    position: relative;
    bottom: 300px;
    


}

.title h1{
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.4;
    color: #2C2C2C;
    margin: 100px 0;
    position: relative; 
}

.imageContainer{
    float: left;
    height: 200;
    width: 200;
    margin-right: 120px;
    position: relative;
    left: 100px;
    bottom: 380px;
}
.imageContainer p{
    text-align: center;
}

.imageContainer img{
    margin: 4rem 0;
}

.one{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}

.pic{
    height: 90%;
    position: relative;
    left: 60px;
}

.skt{
    position: relative;
    left: 35px;
}
.image1{
    position: relative;
    left: 10px;
}

